/* header section */
body {
    font-family: 'Inter', 'Merriweather';
}

.header {
    background-image: linear-gradient(180deg, #070211 0%, #07021100 100%), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;

    width: 1320px;
    height: 600px;
    border-radius: 15px;
    margin-left: 177px;


}

.header-content {
    color: white;
    text-align: center;
    padding: 150px 450px 20px 450px;

}

.header-h2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
}

.header-h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
}

/* main section starts */
.section1 {
    align-items: center;
    margin-top: 120px;
    margin-left: 399px;
    margin-right: 399px;
}

#o1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
}

#o2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}

#o3 {
    margin-top: 5px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.new-year-pic {
    margin-top: 48px;
    width: 802px;
    height: 500px;

}

.group-pic {

    margin: 150px 20px 40px 700px;
    width: 300px;
}

.section2 {
    background-image: linear-gradient(180deg, #070211 0%, #07021100 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 1320px;
    border-radius: 12px;
    margin-left: 177px;
}

.title {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding: 126px 552px 0px 126px;
    margin-bottom: 20px;
}

.description {
    margin-top: 0px;
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 0px 552px 0px 126px;
    margin-bottom: 45px;
}

li {
    margin-top: 0px;
    list-style: none;
    padding: 0px 1050px 150px 150px;
}

a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600px;
}

.section3 {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    margin-left: 177px;
    border-radius: 8px;
}

.para {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.btn-join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}

.column1 {
    margin: auto;
    max-width: 350px;
}

#a1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#a2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#a3 {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.section4 {
    background-color: rgb(254, 253, 252);
    margin-top: 30px;
    margin-left: 177px;
    margin-right: 140px;
    width: 1320px;
    height: 482px;
    display: flex;
    margin-bottom: 30px;
}

.column2 {
    background-image: url('../images/Ellipse\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px #f00 solid;

}



.section4 {
    margin-top: 120px;
    margin-left: 177px;
    margin-right: 140px;
    width: 1320px;
    height: 482px;
    display: flex;
}

.column1 {
    margin: auto;
    max-width: 350px;
}



.column3 {
    margin: auto;
    max-width: 250px;
}

.section4-h2 {
    margin-top: 15px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.section4-p {
    margin-top: 20px;
    color: #07021199;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.section5{
    margin-top: 120px;
    margin-left: 177px;
    margin-right: 140px;
    
    
}

.section5-part1 h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0px;
}

.section5-part1 h1 {
    margin-top: 0px;
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 25px;
    
}

.section5-part1 p {
    margin-top: 0px;
    color: #07021199;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0px;
}
.section5-part2{
    background-image: url('../images/Rectangle\ 2.png'),url('../images/Rectangle\ 1.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 890px;
    background-position: bottom, right;
}

.section6 {
    width: 1320px;
    margin-top: 120px;
    margin-left: 177px;
    margin-right: 140px;
}

.section6-part1 h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.section6-part1 h2 {
    margin-top: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section6-part1 p {
    margin-top: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    max-width: 890px;
}

.section7 {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
    margin-left: 177px;
    margin-right: 140px;
    width: 1320px;
    height: 620px;
}

.section7-part1 {
    padding: 50px 585px 0px 685px;
}

.section7-part2 {
    padding: 0px 212px 40px 212px;
}

.section7-part3 {
    padding: 0px 336px 80px 336px;
}

.section7-part2 h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}


/* footer starts here */
.footer {
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    background: #070211;
    width: 1700px;
    height: 500px;
    margin-left: 0px;
    margin-bottom: 0px;

}

.section7-part2 p {
    max-width: 890px;
    color: #07021199;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}



.section7-part3 input {
    width: 430px;
    height: 70px;

    border: none;
    border-radius: 50px 0px 0px 50px;
    padding-right: 0px;


    color: rgba(7, 2, 17, 0.30);

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}

.section7-part3 button {
    width: 210px;
    height: 72px;

    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding-left: 0px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}



.call {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px
}

.f1 {
    display: flex;
    font-family: Inter;
    gap: 1000px;
    padding: 10px 0px 0px 60px;
}

.f2 {
    margin-left: 700px;
    padding: 10px 0px 5px 0px;
}

.f3 {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 1100px;
    padding: 10px 0px 0px 100px;
}

hr {
    margin-left: 100px;
    margin-right: 100px;
}